@font-face {
  font-family: 'IbmVga8';
  src:  url('ibm_vga8.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  src:  url('Ubuntu-L.ttf')
}

html {
    background-color: #202020;
}

body {
  background-color: #202020;
  font-family: 'Ubuntu';
  color: #efefef;
  padding: 1em 3em 0 3em;
  font-size: 1.5em;
}

b {
  color: #DFDF00;
}

a {
  color: #8080FF;
  text-decoration: none;
}
a:hover {
  color: #B0B0FF;
}
h1 {
  font-family: 'IbmVga8';
  font-weight: normal;
  font-size: 3em;
  color: #DFDF00;
  text-align: center;
}
h2 {
  font-weight: normal;
  color: #DFDF00;
}

.menu-link {
  text-align: center;
}

.breadcrumb {
  font-family: 'IbmVga8';
}

.quote {
  text-align: center;
}

.buttons {
  margin: 0 auto 1.2em auto;
  width: 10em;
}
.button-zoom {
  cursor: pointer;
  padding: 2.1em 0.8em 0.8em 0.8em;
  background-color: #A0A0A0;
  margin: 0 0.5em 0 0.5em;
}
.button-zoom img {
  height: 2em;
}

.progress-bar {
  line-height: 1em;
  font-family: 'IbmVga8';
}

.enigma-password {
  font-family: 'IbmVga8';
}

.enigma-password input {
  font-family: 'IbmVga8';
  font-size: 1.1em;
}

.enigma-password button {
  font-family: 'IbmVga8';
  font-size: 1.1em;
}

img.enigma-icon {
  height: 1.5em;
}

span.enigma-link {
  vertical-align: top;
}